.container {
  max-width: 1320px;
  padding: 50px 60px;
}
@media (max-width: 992px) {
  .container {
    padding: 20px;
  }
}

body {
  overflow-x: hidden;
  font-family: "TT Norms", sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

h3 {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  color: transparent;
  -webkit-background-clip: text;
}

h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
}

h5 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
}

article {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  color: black;
}

.header__p {
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0;
  text-align: left;
  color: black;
}

article p {
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
}

.navbar-light .navbar-toggler {
  border: none;
}

@font-face {
  font-family: "TT Norms";
  src: url("./../fonts/TTNorms/TTNorms-Regular.eot");
  src: local("TT Norms Regular"), local("TTNorms-Regular"), url("./../fonts/TTNorms/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTNorms/TTNorms-Regular.woff") format("woff"), url("./../fonts/TTNorms/TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.page-link:focus, .page-link:hover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header .header__absolute .header__content .header__sidebar {
  display: flex;
  flex-wrap: wrap;
}

.publications .publications__headline a {
  color: #24A3FF;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: left;
}
.publications .publications__headline h3 {
  padding-top: 3px;
}

.publications .publications__block .publications__block__item .publications__text {
  background-color: white;
  border-radius: 8px;
  border: transparent;
  max-width: 413px;
  padding: 20px;
}
.publications .publications__block .publications__block__item .publications__text h4 {
  color: #24A3FF;
}
.publications .publications__block .publications__block__item .publications__text p {
  text-transform: uppercase;
  color: #b3b3ba;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 4px solid #e6e6f0;
}

header .header__absolute {
  width: 100%;
  background: transparent;
  position: absolute;
  overflow: hidden;
  top: 50px;
  left: 0;
  padding: 20px;
}
header .header__absolute .container {
  padding: 0;
}
header .header__absolute .header__content .header__sidebar {
  flex-direction: column;
}
header .header__absolute .header__content .header__sidebar .header__sidebar__contacts {
  display: inline-flex;
}
header .header__absolute .header__content .header__sidebar .header__sidebar__contacts span {
  padding: 0 7px;
}
header .header__absolute .header__content .header__sidebar .header__sidebar__contacts .header__languages ul li {
  display: inline-block;
}
header .header__absolute .header__content .header__sidebar .header__sidebar__contacts .header__languages ul li a {
  font-size: 12px;
  font-weight: 700;
  border-color: transparent;
  padding: 5px;
  color: white;
}
header .header__absolute .header__content .header__sidebar .header__sidebar__contacts .header__languages ul li a:hover {
  border-radius: 8px;
  background-color: #F0145A;
  text-align: center;
}
header .header__absolute .header__content .header__sidebar .header__sidebar__contacts .header__tel {
  font-weight: bold;
}
header .header__absolute .header__content .header__sidebar .header__sidebar__contacts .header__tel a:hover {
  color: #F0145A;
}
header .header__absolute .header__content .header__sidebar .header__sidebar__navigation {
  font-weight: bold;
}
header .header__absolute .header__content .header__sidebar .header__sidebar__navigation .navbar-expand-md .navbar-nav .nav-link {
  color: white;
  border-color: white;
}
header .header__absolute .header__content .header__sidebar .header__sidebar__navigation .navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

header .header__au {
  color: #b3b3ba;
}
header .header__au span {
  padding: 0 7px;
}
header .header__au .header__au__sidebar .header__tel {
  font-weight: bold;
}
header .header__au .header__au__sidebar .header__tel a:hover {
  color: #F0145A;
}
header .header__au .header__au__sidebar .header__languages ul li a {
  font-size: 12px;
  font-weight: 700;
  border-color: transparent;
  padding: 5px;
}
header .header__au .header__au__sidebar .header__languages ul li a:hover {
  border-radius: 8px;
  background-color: #F0145A;
  text-align: center;
  color: white;
}
header .navbar-light .navbar-nav .nav-link {
  color: #24A3FF;
}

#selected {
  color: #F0145A;
  text-decoration: underline;
}

@media (max-width: 768px) {
  header .header__absolute {
    padding: 0;
  }
  header .header__absolute .header__content {
    flex-direction: column-reverse;
    padding: 0 50px 50px;
  }
  header .header__absolute .header__content .header__sidebar .header__sidebar__contacts {
    justify-content: space-between;
    position: relative;
  }
  header .header__absolute .header__content .header__sidebar .header__sidebar__contacts .header__languages ul {
    padding-left: 0;
  }
  header .header__absolute .header__content .header__sidebar .header__sidebar__contacts .header__languages ul li a {
    color: #b3b3ba;
  }
  header .header__absolute .header__content .header__sidebar .header__sidebar__contacts .header__languages ul li a:hover {
    color: white;
  }
  header .header__absolute .header__content .header__sidebar .header__sidebar__contacts .header__tel {
    color: #b3b3ba;
  }
  header .header__absolute .header__content .header__sidebar .header__sidebar__contacts .address {
    display: none;
  }
  header .header__absolute .header__content .header__sidebar .header__sidebar__contacts .header__fb-logo {
    display: none;
  }
  header .header__absolute .header__content .header__sidebar .header__sidebar__contacts span {
    display: none;
  }
  header .header__absolute .header__content .header__sidebar .header__sidebar__navigation .navbar {
    float: right;
  }
  header .header__absolute .header__content .header__sidebar .header__sidebar__navigation .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("./../img/Hamburger.png");
  }
  header .header__absolute .header__content .header__logo img {
    position: absolute;
    top: 60px;
  }

  header .header__au {
    flex-direction: column-reverse;
  }
  header .header__au .header__au__sidebar {
    justify-content: space-between;
  }
  header .header__au .header__au__sidebar .header__sidebar__contacts .header__tel {
    display: inline;
  }
  header .header__au .header__au__sidebar .header__sidebar__contacts p {
    display: none;
  }
}
@media (max-width: 1050px) {
  header .header__au .header__au__sidebar .header__sidebar__contacts span {
    display: none;
  }
  header .header__au .header__au__sidebar .header__sidebar__contacts .address,
header .header__au .header__au__sidebar .header__sidebar__contacts .header__tel,
header .header__au .header__au__sidebar .header__sidebar__contacts .header__fb-logo {
    display: none;
  }
}
.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 576px) {
  header .header__au .header__au__logo a img {
    width: 100px;
  }
  header .header__au .header__au__logo .header__p {
    font-size: 19px;
  }
}
.about__us {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  min-height: 800px;
}
.about__us .container {
  padding: 0;
}
.about__us .container .about__us-logo {
  background-image: url("./../../../img/symbol.png");
  background-repeat: no-repeat;
  background-position: center top 175px;
  padding-bottom: 345px;
}
.about__us .container .about__us-logo h1 {
  font-size: 38px;
  text-align: center;
  padding-top: 358px;
  z-index: 1;
}
.about__us .container .about__us__button button {
  background: transparent;
  outline: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  align-items: flex-end;
}

.services_experience {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
}
.services_experience .experience {
  padding-right: 0;
}
.services_experience .experience .experience__button {
  color: #b3b3ba;
  font-weight: bold;
  font-size: 42px;
  text-align: right;
  line-height: 50px;
  padding: 21px 40px 0 0;
  border-right: 4px solid;
  border-color: white;
  background-color: transparent;
  border-radius: unset;
}
.services_experience .experience .experience__button:hover {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #ef8080, #f0145a);
  border-color: #F0145A;
}
.services_experience .experience__content {
  padding-left: 40px;
  vertical-align: center;
}
.services_experience .experience__content .experience__content__text {
  max-width: 600px;
}
.services_experience .experience__content .experience__content__text h4 {
  font-size: 32px;
  color: white;
}
.services_experience .experience__content .experience__content__text p {
  font-size: 21px;
  color: white;
}
.services_experience .services .services__heading {
  padding-bottom: 70px;
}
.services_experience .services .services__heading a {
  color: #b3b3ba;
  padding-bottom: 3px;
}
.services_experience .services .services__item {
  margin-bottom: 58px;
}
.services_experience .services .services__item img {
  background-color: white;
  border-radius: 24px;
  margin-bottom: 20px;
  text-align: center;
  width: 92px;
  height: 92px;
}
.services_experience .services .services__item h5 {
  color: #24a3ff;
  font-size: 24px;
  padding-bottom: 15px;
}
.services_experience .services .services__item p {
  font-size: 18px;
  line-height: 26px;
}

@media (max-width: 768px) {
  .services .services__item img,
.services .services__item h5 {
    display: flex;
    justify-content: center;
  }
}
.team .container .team__bg {
  width: 99%;
  background: #cacadb;
  border-radius: 0 0 12px 12px;
  height: 10px;
  z-index: 1;
  margin: 0 auto;
}
.team .container .team__bg2 {
  width: 98%;
  background: #e7e7f2;
  border-radius: 0 0 12px 12px;
  height: 10px;
  margin: 0 auto;
}
.team .container .row {
  border-radius: 12px;
}
.team .container .row .team__carousel__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f5f5fa;
}
.team .container .row .team__carousel__block .carousel-inner .carousel-item h4 {
  color: #b3b3ba;
}
.team .container .row .team__carousel__block .carousel-inner .carousel-item p {
  color: #b3b3ba;
}
.team .container .row .team__carousel__block .carousel-inner .carousel-item a {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: left;
  color: #24A3FF;
}
.team .container .row .team__carousel__block .carousel-inner .carousel-item .team__carousel__item {
  display: flex;
  flex-wrap: wrap;
}
.team .container .row .team__carousel__block .carousel-inner .carousel-item .team__carousel__item .team__carousel__item__img {
  width: 33.3333333333%;
}

.member {
  margin-bottom: 80px;
}
.member .member__photo {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  margin-right: 40px;
}
.member .member__info {
  width: 55%;
}
.member .member__info .member__contacts {
  display: flex;
  align-items: stretch;
  border-bottom: 4px solid #E6E6F0;
}
.member .member__info .member__contacts p {
  color: #b3b3ba;
}
.member .member__info .member__contacts span {
  color: #b3b3ba;
  margin: 0 10px 20px;
}
.member .member__info .member__contacts a {
  color: #24A3FF;
}
.member .member__info article {
  margin-top: 40px;
}
.member .member__info h5 {
  color: #323264;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
}

@media (max-width: 992px) {
  .member .member__photo {
    width: 100%;
    justify-content: center;
    margin-right: 0;
  }
  .member .member__info {
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .member .member__info .member__contacts {
    flex-direction: column;
    align-items: center;
  }
  .member .member__info .member__contacts span {
    display: none;
  }
}
.cases {
  background-color: white;
}
.cases .cases__block {
  border-radius: 12px;
  margin: 40px 40px 30px;
  background-color: #f5f5fa;
}
.cases .cases__block .cases__headline {
  border: 1px solid white;
  width: 433px;
}
.cases .cases__block .cases__headline h5 {
  color: #F0145A;
  padding: 20px;
}
.cases .cases__block .cases__block__void {
  width: 58%;
}
.cases .cases__block .cases__block__content {
  padding-top: 105px;
  border: 1px solid white;
}
.cases .cases__block .cases__block__content h5 {
  color: #686887;
  padding: 0 20px;
}
.cases .cases__block .cases__block__content p {
  padding: 20px 20px 0 20px;
  color: #b3b3ba;
}

.clients {
  margin-top: 30px;
}
.clients .clients__headline h3 {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: left;
  color: #323264;
  margin-bottom: 30px;
}
.clients .clients__name {
  height: 120px;
}

#hillel {
  background: #1c4280;
}

#look3d {
  background: #9e4dc3;
}

#Adtelligent {
  background: #e2e2e4;
}

#Artprint {
  background: #1d4568;
}

#Citypark {
  background: #282240;
}

#Clikky {
  background: #c71c36;
}

#Ecolease {
  background: #dcf3f9;
}

#Infratek {
  background: #eaeaea;
}

#Orangear {
  background: #fd9339;
}

#Tapgerine {
  background: #f48b30;
}

#Ultimatecard {
  background: black;
}

#Wannabiz {
  background: #143646;
}

.publications {
  background-color: #f5f5fa;
}
.publications .publications__headline {
  margin-bottom: 40px;
}
.publications .publications__block {
  position: relative;
}
.publications .publications__block .publications__block__item {
  margin-bottom: 40px;
}
.publications .publications__block .publications__block__item .publications__text {
  border-radius: 8px;
  border: transparent;
  margin-top: 0;
}
.publications .publications__block .publications__block__item .publications__img img {
  width: 100%;
}
.publications .publications__button {
  width: 100%;
  height: 200px;
  background-color: transparent;
  position: absolute;
  bottom: 10px;
}
.publications .publications__button button {
  justify-content: center;
  background-color: #24A3FF;
  width: 250px;
  height: 50px;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
}
.publications .publications__button button a {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
  color: white;
}

footer {
  background-color: #f5f5fa;
}
footer .footer {
  padding: 30px 0;
  border-top: 4px solid #E6E6F0;
}
footer .footer span {
  color: #B3B3BA;
  width: 6px;
  height: 6px;
  margin: 0 10px 0 31px;
}
footer .footer .footer__address p {
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
}
footer .footer .footer__address a {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  text-align: left;
  color: #24A3FF;
  text-transform: uppercase;
}
footer .footer .footer__copyright p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: right;
  color: #b3b3ba;
}
footer .footer .footer__contacts #telephone {
  color: #46466e;
}
footer .footer .footer__contacts #email {
  color: #24A3FF;
}

@media (max-width: 992px) {
  footer .footer {
    flex-direction: column;
  }
  footer .footer .footer__address {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  footer .footer .footer__address {
    align-items: center;
  }
  footer .footer .footer__address span {
    display: none;
  }
  footer .footer .footer__address .footer__address__map {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .footer .footer__address .footer__address__map p {
    font-weight: bold;
    margin-right: 20px;
  }
  footer .footer .footer__contacts {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  footer .footer .footer__contacts a {
    padding-bottom: 20px;
  }
  footer .footer .footer__contacts a img {
    padding-top: 20px;
  }
  footer .footer .footer__contacts span {
    display: none;
  }
  footer .footer .footer__copyright {
    order: 3;
  }
  footer .footer .footer__copyright #footer-copyright {
    text-align: center;
  }
}
.about {
  padding: 30px 0 100px 0;
  justify-content: center;
}
.about .about__text {
  margin-right: 0;
}
.about .about__text h3 {
  padding-bottom: 30px;
}
.about .about__advantages {
  margin-left: 40px;
  padding-left: 22px;
  border-left: 4px solid #E6E6F0;
  width: 45%;
}
.about .about__advantages h3::before {
  content: url("./../img/flag.png");
}
.about .about__advantages h3:nth-child(3)::before {
  content: url("./../img/case.png");
}
.about .about__advantages h3:nth-child(5)::before {
  content: url("./../img/star.png");
}
.about .about__advantages p {
  color: #323264;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
  padding-bottom: 50px;
  margin-bottom: 0;
}
.about .about__advantages p:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
.about .about__text__more {
  display: flex;
  flex-wrap: wrap;
}

.about__achievements {
  border-radius: 12px 12px 0 0;
  background-color: #f5f5fa;
  padding-top: 28px;
}
.about__achievements h4 {
  margin-top: 28px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: center;
  color: #323264;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 30px;
}
.about__achievements .about__achievements__logo .about__achievements__logo__background {
  width: 300px;
  height: 109px;
  align-items: center;
  background-color: white;
  border-radius: 12px;
}
.about__achievements .about__achievements__logo .about__achievements__logo__background img {
  justify-content: center;
}
.about__achievements .pagination {
  margin: auto;
}

body > main > div.about__photo.d-flex.col-12 > img {
  width: 100%;
}

.page-link {
  background: none;
  border: none;
  border-radius: 0;
}
.page-link:focus, .page-link:hover {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-image: url("./../img/ellipse_blue.png");
  background-size: auto;
}

@media (max-width: 992px) {
  .about {
    padding-bottom: 20px;
  }
  .about .about__text {
    width: 65%;
  }
  .about .about__advantages {
    width: 30%;
  }
  .about .about__achievements .about__achievements__logo .about__achievements__logo__background {
    margin-bottom: 10px;
  }
}
@media (max-width: 816px) {
  .about {
    padding: 0;
  }
  .about .about__text {
    width: 100%;
  }
  .about .about__advantages {
    width: 100%;
    border-left: none;
    border-top: 4px solid #E6E6F0;
    padding-left: 0;
  }
  .about .about__advantages h3, .about .about__advantages p {
    justify-content: center;
  }

  #footer-address {
    flex-direction: column;
  }
}
.team__header h3 {
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
}

.team__gallery .team__gallery__content {
  justify-content: space-between;
}
.team__gallery .team__gallery__content .team__gallery__item {
  width: 29%;
}
.team__gallery .team__gallery__content .team__gallery__item img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}
.team__gallery .team__gallery__content .team__gallery__item h4 {
  color: #323264;
}
.team__gallery .team__gallery__content .team__gallery__item p {
  color: #b3b3ba;
}

@media (max-width: 768px) {
  .team__gallery .team__gallery__content .team__gallery__item {
    width: 49%;
  }
}
@media (max-width: 576px) {
  .team__gallery .team__gallery__content .team__gallery__item {
    width: 100%;
  }
}
.map .map__block .map__contacts {
  width: 412px;
}
.map .map__block .map__contacts .map__border {
  border-bottom: 4px solid #E6E6F0;
  margin-bottom: 40px;
}
.map .map__block .map__contacts .map__border p {
  color: #323264;
}
.map .map__block .map__contacts a {
  color: #323264;
}
.map .map__block .map__form {
  max-width: 527px;
  background: #F5F5FA;
  border-radius: 12px;
  padding: 20px;
}
.map .map__block .map__form h3 {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0;
  text-align: left;
}
.map .map__block .map__form input, .map .map__block .map__form textarea {
  display: block;
  border-radius: 8px;
  border: none;
  outline: none;
}
.map .map__block .map__form input {
  width: 487px;
  height: 47px;
  padding: 10px;
  margin-bottom: 20px;
}
.map .map__block .map__form textarea {
  resize: none;
  width: 487px;
  height: 180px;
  padding: 10px;
  margin-bottom: 20px;
}
.map .map__block .map__form h4 {
  color: #b3b3ba;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 10px;
}
.map .map__block .map__form .button__send {
  display: flex;
  justify-content: center;
}
.map .map__block .map__form .button__send button {
  box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.5);
  background: #24A3FF;
  color: white;
  border-radius: 12px;
  padding: 16px;
  justify-content: center;
}

#facebook__link {
  color: #24A3FF;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: left;
  font-weight: bold;
  margin-left: 10px;
  max-width: 120px;
}

#map__email {
  margin: 20px 0 40px;
  color: #24A3FF;
  display: block;
}

/*# sourceMappingURL=style.css.map */
