.clients {
  margin-top: 30px;
  .clients__headline {
    h3 {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1px;
      text-align: left;
      color: $colour_mainRegular;
      margin-bottom: 30px;
    }
  }

  .clients__name {
    height: 120px;
  }
}

#hillel {
  background: rgba(28, 66, 128, 1);
}

#look3d {
  background: rgba(158, 77, 195, 1);
}

#Adtelligent {
  background: rgba(226, 226, 228, 1);
}

#Artprint {
  background: rgba(29, 69, 104, 1);
}

#Citypark {
  background: rgba(40, 34, 64, 1);
}

#Clikky {
  background: rgba(199, 28, 54, 1);
}

#Ecolease {
  background: rgba(220, 243, 249, 1);
}

#Infratek {
  background: rgba(234, 234, 234, 1);
}

#Orangear {
  background: rgba(253, 147, 57, 1);
}

#Tapgerine {
  background: rgba(244, 139, 48, 1);
}

#Ultimatecard {
  background: rgba(0, 0, 0, 1);
}

#Wannabiz {
  background: rgba(20, 54, 70, 1);
}