$colour_accent: #F0145A;
$colour_grey: #B3B3BA;
$colour_softGrey: rgba(245, 245, 250, 1);
$colour_blue: #24A3FF;
$colour_mainSoft: rgba(104, 104, 135, 1);
$colour_mainRegular: rgba(50, 50, 100, 1);
$colour_violet: rgba(70, 70, 110, 1);