.cases {
  background-color: white;

  .cases__block {
    border-radius: 12px;
    background-color: $colour_softGrey;

    .cases__headline {
      border: 1px solid white;
      width: 433px;

      h5 {
        color: $colour_accent;
        padding: 20px;
      }
    }

    .cases__block__void {
      width: 58%;
    }

    .cases__block__content {
      padding-top: 105px;
      border: 1px solid white;

      h5 {
        color: $colour_mainSoft;
        padding: 0 20px;
      }

      p {
        padding: 20px 20px 0 20px;
        color: $colour_grey;
      }
    }

  }
}