@media (max-width: 768px) {
  header {
    .header__absolute {
      padding: 0;

      .header__content {
        flex-direction: column-reverse;
        padding: 0 50px 50px;

        .header__sidebar {
          .header__sidebar__contacts {
            justify-content: space-between;
            position: relative;

            .header__languages {

              ul {
                padding-left: 0;

                li {
                  a {
                    color: $colour_grey;

                    &:hover {
                      color: white;
                    }
                  }
                }
              }
            }

            .header__tel {
              color: $colour_grey;
            }

            .address {
              display: none;
            }

            .header__fb-logo {
              display: none;
            }

            span {
              display: none;
            }
          }

          .header__sidebar__navigation {

            .navbar {
              float: right;

              .navbar-toggler {
                .navbar-toggler-icon {
                  background-image: url("./../img/Hamburger.png");
                }
              }
            }
          }
        }
        .header__logo {
          img {
            position: absolute;
            top: 60px
          }
        }
      }
    }
  }

  header {
    .header__au {
      flex-direction: column-reverse;

      .header__au__sidebar {
        justify-content: space-between;
        .header__sidebar__contacts {
          .header__tel {
            display: inline;
          }
          p {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  header {
    .header__au {
      .header__au__logo {
        //.header__p {
        //  font-size: 19px;
        //}
      }
      .header__au__sidebar {
        .header__sidebar__contacts {
          span {
            display: none;
          }

          .address,
          .header__tel,
          .header__fb-logo {
            display: none;
          }
        }
      }
    }
  }
}
.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 576px) {
  header {
    .header__au {
      .header__au__logo {
        a {
          img {
            width: 100px;
          }
        }
        .header__p {
          font-size: 19px;
        }
      }
    }
  }
}